<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vicentiu Bota</title>
    <link rel="stylesheet" href="./styles/internPage.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/a076d05399.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0" defer></script>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

	<div id="usersPage" class="backdrop">
		<nav class="navbar" id="navBar">
			
			<div class="topnav">
				<img src="../../resources/images/banana.png"
					 alt="banana in pijamas logo"
					 class="logo"/>
				<a class="bananaHeader" href='#'>
					 Bananas In P.Y.J.A.M.A.S
				</a>
				<a
					href="#"
					class="go-top-page"
					id="goTopPageBtn"
					title="Go to top page">
						Go to the top page
				</a>
				<button class="menuBtn" id="menuBtn">
					<i class="material-icons">&#xe5d2;</i>
				</button>
			</div>

			<ul class="hiddenLinks" id="navLinks">
				<a href="../../index.html" title="Go to members page">
					Members page
				</a>
				<a href="../../index.html" title="Go to homepage">
					Home Page
				</a>
			</ul>
		</nav>
	
		<div class="mainSection">

			<aside class="asidebar-user-infos">	
				<div class="userNameHidden">
					Welcome to Vicentiu Bota's page
				</div>
				<div class="users-img">
					<img src="../../resources/images/Vicentiu.png" alt="alina profile picture"/>
				</div>
				<p class="user-description">
					Ciao, sunt Vicentiu și locuiesc în Bologna (IT). Am 24 de ani și în martie am terminat facultatea de Computer Science în Bologna. Sunt pasionat de software development și backend web development. Non tech îmi place foarte mult sa gătesc.
				</p>
				<div class="contact-links">
					<a href="#" class="iconhover contact-link-git">
						<i class="fab fa-github-square "></i>
					</a>
					<a href="#" class="iconhover contact-link-linkedin">
						<i class="fab fa-linkedin"></i>
					</a>
					<a href="#" class="iconhover contact-link-facebook">
						<i class="fab fa-facebook-square"></i>
					</a>
				</div>
			</aside>

			<section class="section-user-skills">	
				<div class="usersPage-title">
					Welcome to Vicentiu Bota's page
				</div>
				<div class="usersPage-description bg-orange-300">
					On this page you will find the evolution during the internship
				</div>
				
				<div class="charts">
					<div class="softSkillsUser align-charts">
						<div class="skillsTitle">
							Soft skills evolution
						</div>
						<canvas id="chartSkillsAverage" class="chart"></canvas>
					</div>
					<div class="hardSkillsUser align-charts">
						<div class="skillsTitle">
							Hard skills evolution
						</div>
						<canvas id="chartSkillsAverageHard" class="chart"></canvas>
					</div>
				</div>
			
			</section>
		</div>
	</div>

	<script src="../../scripts/js/internPageScripts.js" type="text/javascript" charset="utf-8" defer></script>
	<script type="module">
  		import {getDataFromSpreadsheet} from '../../scripts/js/api-spreadsheets.js';
  		getDataFromSpreadsheet('https://spreadsheets.google.com/feeds/cells/1QeLq2Xf2RWZE3LJyhd-tDNALVUGAgrt5K5jXwnCGXz4/oqwrqif/public/basic?alt=json');
	</script>

</body>
</html>