body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fcfbfb;
  font-family: Montserrat, monospace;
}

.hidden {
  display: none;
}

.navbar {
  background-color: #2a4365;
}

.navbar .topnav {
  max-height: 20%;
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .topnav .bananaHeader {
  font-weight: 600;
  font-size: 1.6rem;
  margin: 0 !important;
}

.navbar .logo {
  margin: 5px 0 0 10px;
  max-width: 60px;
  max-height: 50px;
}

.navbar .hiddenLinks {
  display: none;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 1rem;
  padding: 4px;
  margin: 5px;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 2rem;
}

.navbar a:hover {
  color: #38b2ac;
}

.menuBtn {
  border: none;
  background-color: #2a4365;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: auto;
  margin-right: 10px;
}

.menuBtn i {
  font-size: 1.5rem;
  color: white;
}

.go-top-page {
  display: none;
}

.sticky {
  display: block;
  position: fixed;
  right: 0;
  top: 3px;
  border: none;
  background-color: #d2cdc9;
  padding: 0.3rem !important;
  margin: 0 !important;
  color: black !important;
}

.sticky:hover {
  cursor: pointer;
  background-color: goldenrod;
}

.sideDrawer {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1000px) {
  .menuBtn {
    display: none;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar .logo {
    margin: 5px 0 0 60px;
  }
  .navbar .hiddenLinks {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar .sideDrawer {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.asidebar-user-infos {
  width: 100%;
}

.asidebar-user-infos .users-img img {
  display: block;
  margin: 50px auto 10px auto;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0 10px 10px -5px;
          box-shadow: 0 10px 10px -5px;
  color: #2a4365;
}

.asidebar-user-infos .user-description {
  text-align: center;
  margin: 35px 30px 25px 30px;
}

.asidebar-user-infos .contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.asidebar-user-infos .contact-links .fab {
  font-size: 1.8rem;
}

.asidebar-user-infos .contact-links .fa-linkedin {
  color: #0077b5;
}

.asidebar-user-infos .contact-links .fa-facebook-square {
  color: #1a0dab;
}

.asidebar-user-infos .contact-links .fa-github-square {
  color: #5f0249;
}

.asidebar-user-infos .contact-links .iconhover:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

@media screen and (min-width: 600px) {
  .asidebar-user-infos {
    width: 30%;
  }
  .userNameHidden {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .asidebar-user-infos
.users-img img {
    margin: auto;
    margin-top: 2rem;
  }
  .contact-links {
    padding: 0.5rem 0 1.5rem 0;
  }
  .userNameHidden {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: #474747;
  }
}

.section-user-skills .usersPage-title {
  font-size: 1.9rem;
  margin: 1.5rem 1rem;
  text-align: center;
  font-weight: 500;
  margin-top: 4rem;
  color: #424242;
}

.section-user-skills .usersPage-description {
  text-align: center;
  margin: 0 0.5rem;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.section-user-skills .align-charts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-user-skills .skillsTitle {
  text-align: center;
  font-size: 1.3rem;
  margin: 1rem;
}

.section-user-skills .chart {
  max-width: 450px;
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .section-user-skills {
    width: 70%;
  }
}

@media screen and (min-width: 1400px) {
  .charts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .charts .chart {
    width: 450px;
  }
}

@media screen and (max-width: 600px) {
  .section-user-skills
.usersPage-title {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .mainSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=intern_page.css.map */